* {
  background-color: beige;
  padding: 0;
  box-sizing: border-box;
  margin: 0;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-direction: row;
}
h1 {
  margin-top: 1rem;
  font-size: 64px;
  font-weight: 700;
}
.wall {
  background-color: black;
  width: 30px;
  height: 500px;
  position: absolute;
  top: 50px;
  right: 100px;
  border-radius: 1rem;
  box-shadow: 0 4px 5px black;
}
.box {
  height: 300px;
  width: 300px;
  background-color: rebeccapurple;
  top: 120px;
  position: absolute;
  border: 50px solid orange;
  border-radius: 1rem;
  box-shadow: 0 4px 10px black;
  animation: movebox 3s infinite;
}

@keyframes movebox {
  0% {
    transform: translateX(0px);
    top: 100px;
  }
  10% {
    transform: translateX(-300px);
    top: 100px;
    height: 250px;
    width: 400px;
  }
  30% {
    transform: translateX(944px);
    top: 100px;
    opacity: 1;
    height: 400px;
    width: 250px;
  }
  75%{
    transform: translateX(944px);
    top: 100px;
    opacity: 1;
    height: 400px;
    width: 250px;
  }
  100% {
    transform: translateX(944px);
    top: 400px;
    opacity: 0;
    height: 400px;
    width: 250px;
  }
}